#img-placeholder{
	height: 50px;
	width: 50px;
	border-radius: 100%;
	background-color: red;
}

#sm-icon-placeholder{
	height: 30px;
	width: 30px;
	margin: 10px 10px 5px;
	display: inline-block;
	border-radius: 100%;
	background-color: red;
}